.ebextensions
.elasticbeanstalk
.git
.idea
.vagrant
bin/**/*
coverage/**/*
db/**/*
docs/**/*
build_scripts/**/*
src/**/*
tests/client/*
tests/server/**/*
provision/**/*
public/**/*
node_nodules/**/*
views/**/*
