doctype html
html
  head
    title= "Practice"
    block styles
      link(rel='stylesheet', href='/dist/style.css', type='text/css')
    block scripts
      script(src="dist/main.js")
  body
    main
      h1.title Sort Practice
      section
        ul.left-list.connectedSortable
          li.list-item(draggable="true") Content A
          li.list-item(draggable="true") Content B
          li.list-item(draggable="true") Content C
        ul.right-list.connectedSortable
          li.list-item(draggable="true") Content D
          li.list-item(draggable="true") Content E
          li.list-item(draggable="true") Content F

