doctype html
html
  head
    title= "Practice"
    block styles
      link(rel='stylesheet', href='/dist/style.css', type='text/css')
    block scripts
      script(src="dist/main.js")
  body
    main
      h1 Practice
